main{
  padding-top: 32px;
}

.package {
  background: rgb(235, 240, 237);
  padding: 24px;
  margin: 16px 0px;
  border: 4px solid #0e4f1f;
  border-left: none;
  width: 80%;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
}
