.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 25rem;   /* explicitly adding height of first row remaining row will take auto width  */
  justify-content: center;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(8rem,auto);
  grid-auto-flow: row;
  /* grid-auto-flow: column; */

}

.quote {
border: 1px solid #fa923f;
background: #ffbd87;
font-family: sans-serif;
padding: 1rem;
border-radius: 5px;
}

.quote--featured {
border: #ff4213;
background: #ff9f87;
grid-column: span 2;
}